# Challenge 1

# 1. Given a and b as below, concatenate them together.

a = [[3,4,6],[1,2,3]]

b = [[1,3,6],[4,7,8]]

In [6]:
import numpy as np
import pandas as pd

a = [[3,4,6],[1,2,3]]

b = [[1,3,6],[4,7,8]]

a_df = pd.DataFrame(a)
b_df = pd.DataFrame(b)

df = pd.concat([a_df,b_df], ignore_index= True) 
df

   0  1  2
0  3  4  6
1  1  2  3
2  1  3  6
3  4  7  8

# 2.